image: hashicorp/terraform:1.4.6

definitions:
  steps:
    
    - step: &plan
        name: Terraform Plan (Staging)
        script:
          - cd cleaners-infra/cleaner-infra-nginx-proxies/terraform
          - export DIGITALOCEAN_TOKEN=$DO_API_TOKEN
          - export AWS_ACCESS_KEY_ID=$DO_SPACES_ACCESS_KEY
          - export AWS_SECRET_ACCESS_KEY=$DO_SPACES_SECRET_KEY
          - terraform init -reconfigure
          - terraform workspace select staging || terraform workspace new staging
          - terraform plan -var-file="../environments/staging.tfvars" -out=tfplan.out
        artifacts:
          - cleaners-infra/cleaner-infra-nginx-proxies/terraform/tfplan.out

    - step: &apply
        name: Terraform Apply (Staging)
        trigger: manual 
        script:
          - cd cleaners-infra/cleaner-infra-nginx-proxies/terraform
          - export DIGITALOCEAN_TOKEN=$DO_API_TOKEN
          - export AWS_ACCESS_KEY_ID=$DO_SPACES_ACCESS_KEY
          - export AWS_SECRET_ACCESS_KEY=$DO_SPACES_SECRET_KEY
          - terraform init -reconfigure
          - terraform workspace select staging
          - terraform apply -auto-approve "tfplan.out"

    - step: &reconfigure
        name: "Configurar Host (Nginx + Docker + SSL)"
        image: python:3.12
        script:
          - |
            apt-get update && apt-get install -y curl git sshpass python3-venv                       
            python3 -m venv venv
            source venv/bin/activate                      
            pip install ansible==9.4.0 docker==6.1.3 python-digitalocean                      
            ansible-galaxy collection install -r cleaners-infra/cleaner-infra-nginx-proxies/ansible/requirements.yml                      
            echo "--- Configurando Chave SSH ---"
            mkdir -p ~/.ssh
            echo "$DO_SSH_KEY" | base64 -d > ~/.ssh/ansible_ssh_key && chmod 600 ~/.ssh/ansible_ssh_key
            echo "Chave SSH configurada."                     
            export DO_TOKEN=$DO_API_TOKEN
            cd cleaners-infra/cleaner-infra-nginx-proxies/ansible
            chmod 755 .            
            echo "--- Executando Playbook de Configuração (playbook.yml) ---"
            ansible-playbook \
              playbooks/playbook.yml \
              -i digitalocean.yaml \
              --limit app-server \
              --user root \
              --private-key ~/.ssh/ansible_ssh_key \
              --extra-vars "domain=${DOMAIN_NAME} certbot_email=${CERTBOT_EMAIL} app_port=8080"

    - step: &deploy
        name: "Deploy da App [${APP_NAME}:${IMAGE_TAG}]"
        image: python:3.12
        variables:
          - name: APP_NAME
            default: "landing-page" # Puxado do apps.yaml
          - name: IMAGE_TAG
            default: "latest"
        script:
          - |
            apt-get update && apt-get install -y curl git sshpass python3-venv
            python3 -m venv venv
            source venv/bin/activate
            pip install ansible==9.4.0 docker==6.1.3 python-digitalocean
            ansible-galaxy collection install -r cleaners-infra/cleaner-infra-nginx-proxies/ansible/requirements.yml
            echo "--- Configurando Chave SSH ---"
            mkdir -p ~/.ssh
            echo "$DO_SSH_KEY" | base64 -d > ~/.ssh/ansible_ssh_key && chmod 600 ~/.ssh/ansible_ssh_key
            echo "Chave SSH configurada."
            export DO_TOKEN=$DO_API_TOKEN
            export FULL_IMAGE_PATH="${DOCKER_REPO}/${APP_NAME}:${IMAGE_TAG}"
            cd cleaners-infra/cleaner-infra-nginx-proxies/ansible
            chmod 755 .
            echo "--- Executando Playbook de Deploy (deploy_app.yaml) ---"
            ansible-playbook \
              playbooks/deploy_app.yaml \
              -i digitalocean.yaml \
              --limit app-server \
              --user root \
              --private-key ~/.ssh/ansible_ssh_key \
              --extra-vars "@../../../apps.yaml" \
              --extra-vars "app_to_deploy=${APP_NAME} full_image_path=${FULL_IMAGE_PATH} docker_username=$DOCKER_USERNAME docker_password=$DOCKER_PASSWORD"

pipelines:
  custom:
    staging-deploy:      
      - variables:
        - name: DOMAIN_NAME
          default: "damasio34.com.br"
        - name: CERTBOT_EMAIL
          default: "contato@d34.com.br"
                
      - step: *plan
      - step: *apply
      - step: *reconfigure
      - step: *deploy

    # Depuração
    terraform-plan-staging:
      - step: *plan
    terraform-apply-staging:
      - step: *apply
    reconfigure-nginx:
      - step: *reconfigure
    deploy-app:
      - step: *deploy

  # Pipeline Automático (ao fazer merge na 'main', por ex.)
  # branches:
  #   main:
  #     - step: *plan
  #     - step: *apply
  #     - step: *reconfigure
  #     - step: *deploy