image: hashicorp/terraform:1.4.6

pipelines:
  custom:
  
    terraform-plan-staging:
      - step:
          name: Terraform Plan (Staging)
          script:
            - cd terraform/
            - export DIGITALOCEAN_TOKEN=$DO_API_TOKEN
            - export AWS_ACCESS_KEY_ID=$DO_SPACES_ACCESS_KEY 
            - export AWS_SECRET_ACCESS_KEY=$DO_SPACES_SECRET_KEY
            - terraform init -reconfigure
            - terraform workspace select staging
            - terraform plan -var-file="environments/staging.tfvars" -out=tfplan.out

    terraform-apply-staging:
      - step:
          name: Terraform Apply (Staging)
          script:
            - cd terraform/
            - export DIGITALOCEAN_TOKEN=$DO_API_TOKEN 
            - export AWS_ACCESS_KEY_ID=$DO_SPACES_ACCESS_KEY 
            - export AWS_SECRET_ACCESS_KEY=$DO_SPACES_SECRET_KEY
            - terraform init -reconfigure
            - terraform workspace select staging
            - terraform apply "tfplan.out"

    deploy-app:
      - variables:
          - name: APP_NAME
            default: "cleaners-web-app"
          - name: IMAGE_TAG
            default: "latest"
      - step:
          name: "Deploy da App [${APP_NAME}:${IMAGE_TAG}]"
          image: python:3.12 
          script:
            - apt update && apt install -y curl git sshpass 
            - export ANSIBLE_HOST_KEY_CHECKING=False 
            - pip install ansible==9.4.0 docker==6.1.3 python-digitalocean
            - ansible-galaxy collection install -r cleanes-infra-nginx-proxies/ansible/requirements.yml
            - export DO_TOKEN=$DO_API_TOKEN
            - export FULL_IMAGE_PATH="${DOCKER_REPO}/${APP_NAME}:${IMAGE_TAG}"
            - ansible-playbook \
                -i ansible/digitalocean.yaml \
                ansible/playbooks/deploy_app.yaml \
                --limit app-server \
                --extra-vars "app_to_deploy=${APP_NAME} full_image_path=${FULL_IMAGE_PATH} docker_username=$DOCKER_USERNAME docker_password=$DOCKER_PASSWORD"
    
    reconfigure-nginx:
      - variables:
          - name: DOMAIN_NAME
          - name: CERTBOT_EMAIL
      - step:
          name: "Reconfigurar Nginx/SSL"
          image: python:3.11
          script:
            - apt update && apt install -y curl git sshpass
            - export ANSIBLE_HOST_KEY_CHECKING=False
            - pip install ansible==9.4.0 docker==6.1.3 community.digitalocean
            - ansible-galaxy collection install -r ansible/requirements.yml            
            - export DO_TOKEN=$DO_API_TOKEN             
            - ansible-playbook \
                -i ansible/digitalocean.yaml \
                ansible/playbooks/configure_host.yml \
                --limit app-server \
                --extra-vars "domain_name_var=${DOMAIN_NAME} certbot_email=${CERTBOT_EMAIL}"
