upstream app_backend {
    server localhost:{{ app_port }};
    keepalive 32;
}

{% for sub in subdomains %}
# Variável para o FQDN (Full Qualified Domain Name)
{% set fqdn = sub + '.' + domain %}

server {
    listen 80;
    server_name {{ fqdn }};

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location / {
        proxy_pass http://app_backend; # Usando o upstream definido acima
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_read_timeout 90;
    }

    access_log /var/log/nginx/{{ fqdn }}.access.log;
    error_log  /var/log/nginx/{{ fqdn }}.error.log;
}

{% endfor %}