plugin: community.digitalocean.digitalocean

api_token: "{{ lookup('env', 'DO_API_TOKEN') }}" # Exporte a sua DO token no terminal antes de rodar o Ansible.

attributes: 
  - id
  - name
  - networks
  - region
  - size_slug
  - tags 

filters:
  - name: app-server

compose:
  ansible_host: do_networks.v4 | selectattr('type','eq','public') | map(attribute='ip_address') | first