plugin: community.digitalocean.digitalocean
oauth_token: "{{ lookup('env', 'DO_TOKEN') }}"
attributes: 
  - id
  - name
  - networks
  - region
  - size_slug
  - tags 
keyed_groups:
  - key: do_tags
    prefix: tag
compose:
  ansible_host: do_networks.v4[0].ip_address
