plugin: community.digitalocean.digitalocean

oauth_token: "{{ lookup('env', 'DO_TOKEN') }}" # Exporte a sua DO token no terminal antes de rodar o Ansible.

attributes: 
  - id
  - name
  - networks
  - region
  - size_slug
  - tags 

filters:
  - has_tag: webservers  

# keyed_groups:
#   - key: tags
#     separator: ''
#     prefix: ''

groups:
  webservers: "'webservers' in do_tags"

# compose:
#   ansible_host: do_networks.v4[0].ip_address

compose:
  ansible_host: do_networks.v4 | selectattr('type','eq','public') | map(attribute='ip_address') | first
