- name: Deploy Docker Application
  hosts: app-server
  gather_facts: false
  become: true

  tasks:
    
    - name: "Garantir que pip3 está instalado"
      ansible.builtin.apt:
        name: python3-pip
        state: present
        update_cache: false

    - name: "Instalar pacote Python 'docker' via pip3"
      ansible.builtin.pip:
        name: docker
        state: present
        executable: pip3

    - name: "Definir dados da aplicação a ser implantada"
      ansible.builtin.set_fact:
        current_app: "{{ apps | selectattr('name', '==', app_to_deploy) | list | first | default({}) }}"
    
    - name: "Falhar se a aplicação não for encontrada"
      ansible.builtin.fail:
        msg: "A aplicação '{{ app_to_deploy }}' não foi encontrada no arquivo apps.yaml."
      when: current_app == {} or current_app.name is not defined

    - name: "Login no container registry da DigitalOcean"
      ansible.builtin.command: |
        docker login registry.digitalocean.com \
        --username {{ lookup('env', 'DOCKER_USERNAME') }} \
        --password-stdin
      args:
        stdin: "{{ lookup('env', 'DOCKER_PASSWORD') }}" 

    - name: "Parar contêiner antigo para liberar a porta"
      community.docker.docker_container:
        name: "{{ current_app.name }}"
        state: absent
      ignore_errors: true

    - name: "Puxar a nova imagem do registry"
      community.docker.docker_image:
        name: "{{ lookup('env', 'FULL_IMAGE_PATH') }}"
        source: pull

    - name: "Rodar o novo contêiner"
      community.docker.docker_container:
        name: "{{ current_app.name }}"
        image: "{{ lookup('env', 'FULL_IMAGE_PATH') }}"
        state: started
        restart_policy: always
        ports:
          - "{{ current_app.host_port }}:{{ current_app.internal_port }}"   
