name: CI/CD - Infra e Deploy (Staging)

on:
  
  workflow_dispatch:
    inputs:
      domain_name:
        description: 'Nome do Domínio'
        default: 'damasio34.com.br'
        required: true
      certbot_email:
        description: 'E-mail para Certbot'
        default: 'contato@d34.com.br'
        required: true
      app_name:
        description: 'Nome da Aplicação (App)'
        default: 'landing-page'
        required: true
      image_tag:
        description: 'Tag da Imagem (Ex: latest, v1.2.3)'
        default: 'latest'
        required: true
  
  # Você pode descomentar para rodar em um push para a branch principal
  push:
    branches:
      - 'feat/iac-ci-cd'

env:
  FULL_IMAGE_PATH: ${{ secrets.DOCKER_REPO }}/${{ github.event.inputs.app_name || 'landing-page' }}:${{ github.event.inputs.image_tag || 'latest' }}

jobs:
  plan-and-apply:
    name: Terraform IaC (Staging)
     
    runs-on: ubuntu-latest
    container: hashicorp/terraform:1.4.6
    environment: staging 

    steps:
      - name: Checkout do Código
        uses: actions/checkout@v4

      - name: Terraform Plan (Staging)
        id: plan
        run: |
          cd cleaners-infra/cleaner-infra-nginx-proxies/terraform
          # As variáveis de ambiente (Tokens) são injetadas pelo GitHub Secrets
          export DIGITALOCEAN_TOKEN=${{ secrets.DO_API_TOKEN }}
          export AWS_ACCESS_KEY_ID=${{ secrets.DO_SPACES_ACCESS_KEY }}
          export AWS_SECRET_ACCESS_KEY=${{ secrets.DO_SPACES_SECRET_KEY }}
          
          # Os comandos do Terraform são executados
          terraform init -reconfigure
          terraform workspace select staging || terraform workspace new staging
          terraform plan -var-file="../environments/staging.tfvars" -out=tfplan.out
        
      
      - name: Salvar Artefato do Plan
        uses: actions/upload-artifact@v4
        with:
          name: tfplan-staging
          path: cleaners-infra/cleaner-infra-nginx-proxies/terraform/tfplan.out
          
      - name: Terraform Apply (MANUAL)
        if: github.event_name == 'workflow_dispatch' && contains(github.event.inputs.run_apply, 'true') # Condição de execução manual
        run: |
          cd cleaners-infra/cleaner-infra-nginx-proxies/terraform
          export DIGITALOCEAN_TOKEN=${{ secrets.DO_API_TOKEN }}
          export AWS_ACCESS_KEY_ID=${{ secrets.DO_SPACES_ACCESS_KEY }}
          export AWS_SECRET_ACCESS_KEY=${{ secrets.DO_SPACES_SECRET_KEY }}
          
          terraform init -reconfigure
          terraform workspace select staging
          terraform apply -auto-approve "tfplan.out"

  reconfigure:
    name: Configurar Nginx/Host
    needs: plan-and-apply 
    runs-on: ubuntu-latest 
    container: python:3.12 
    environment: staging
    
    steps:
      - name: Checkout do Código
        uses: actions/checkout@v4
      
      - name: Instalação e Configuração Ansible/Host
        run: |
          # 1. Instalar dependências do sistema
          apt-get update && apt-get install -y curl git sshpass python3-venv
          
          # 2. Configurar ambiente virtual Python e dependências
          python3 -m venv venv
          source venv/bin/activate
          pip install ansible==9.4.0 docker==6.1.3 python-digitalocean
          ansible-galaxy collection install -r cleaners-infra/cleaner-infra-nginx-proxies/ansible/requirements.yml
          
          # 3. Configurar Chave SSH usando GitHub Secrets
          echo "--- Configurando Chave SSH ---"
          mkdir -p ~/.ssh
          echo "${{ secrets.DO_SSH_KEY }}" | base64 -d > ~/.ssh/ansible_ssh_key && chmod 600 ~/.ssh/ansible_ssh_key
          echo "Chave SSH configurada."
          
          # 4. Executar Playbook
          export DO_TOKEN=${{ secrets.DO_API_TOKEN }}
          cd cleaners-infra/cleaner-infra-nginx-proxies/ansible
          chmod 755 .
          echo "--- Executando Playbook de Configuração (playbook.yml) ---"
          ansible-playbook \
            playbooks/playbook.yml \
            -i digitalocean.yaml \
            --limit app-server \
            --user root \
            --private-key ~/.ssh/ansible_ssh_key \
            --extra-vars "domain=${{ github.event.inputs.domain_name }} certbot_email=${{ github.event.inputs.certbot_email }} app_port=8080"


  deploy:
    name: Deploy da App
    needs: reconfigure 
    runs-on: ubuntu-latest
    container: python:3.12
    environment: staging
    
    steps:
      - name: Checkout do Código
        uses: actions/checkout@v4
        
      
      - name: Execução do Deploy
        run: |
          # 1. Instalar dependências
          apt-get update && apt-get install -y curl git sshpass python3-venv
          python3 -m venv venv
          source venv/bin/activate
          pip install ansible==9.4.0 docker==6.1.3 python-digitalocean
          ansible-galaxy collection install -r cleaners-infra/cleaner-infra-nginx-proxies/ansible/requirements.yml
          
          # 2. Configurar Chave SSH
          echo "--- Configurando Chave SSH ---"
          mkdir -p ~/.ssh
          echo "${{ secrets.DO_SSH_KEY }}" | base64 -d > ~/.ssh/ansible_ssh_key && chmod 600 ~/.ssh/ansible_ssh_key
          echo "Chave SSH configurada."
          
          # 3. Executar o Playbook de Deploy
          export DO_TOKEN=${{ secrets.DO_API_TOKEN }}
          export FULL_IMAGE_PATH=${{ env.FULL_IMAGE_PATH }} # Variável global definida acima
          cd cleaners-infra/
          chmod 755 .
          
          echo "--- Executando Playbook de Deploy ---"
          ansible-playbook \
            cleaner-infra-nginx-proxies/ansible/playbooks/deploy_app.yaml \
            -i cleaner-infra-nginx-proxies/ansible/digitalocean.yaml \
            --limit app-server \
            --user root \
            --private-key ~/.ssh/ansible_ssh_key \
            --extra-vars "@apps.yaml" \
            --extra-vars "app_to_deploy=${{ github.event.inputs.app_name }} full_image_path=${{ env.FULL_IMAGE_PATH }} docker_username=${{ secrets.DOCKER_USERNAME }} docker_password=${{ secrets.DOCKER_PASSWORD }}"
          echo "--- Ansible Playbook Concluído ---"